<!DOCTYPE html>
<html>
<head>
  <title>Little Rock Bike Polo</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="Jonathan MacDonald" content="">
  <%= csrf_meta_tags %>

  <!-- stylesheets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

  <!-- javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

</head>
<body>
  <header>
    <!-- nav bar -->
    <nav class="navbar-default navbar-fixed-top">
      <img class="large" src="https://farm2.staticflickr.com/1478/24259118481_3bd44aea82_o.png"/>
      <!-- <a class="large" id="header_nav" href="<%= root_path %>"></a> -->
      <ul>
        <li><a href="#">Members</a>
          <ul>
            <li><a href="#">Login</a></li>
          </ul>
        </li>
        <li><a href="#">New Players</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
