<!DOCTYPE html>
<html>
<head>
  <title>Little Rock Bike Polo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="animate.min.css">
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
</head>
<body class=home-index>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1661153037494301";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <header>
    <!-- nav bar -->
    <nav class="navbar-default navbar-fixed-top">
      <a id="header_nav" class="logo" href="<%= root_path %>"></a>
      <ul>
        <li><a href="#">Members</a>
          <ul>
            <li><a href="#">Login</a></li>
          </ul>
        </li>
        <li><a href="#">New Players</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a>
          <ul>
            <li><a href="#">What is Bike Polo?</a></li>
            <li><a href="#">How LRBP got started</a></li>
            <li><a href="#">Where we play</a></li>
              <ul>
                  <li><a href="#">Sublink 4</a></li>
                  <li><a href="#">Sublink 5</a></li>
              </ul>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
