<!DOCTYPE html>
<html>
<head>
  <title>Little Rock Bike Polo</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="Jonathan MacDonald" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body class=home-index>
  <header>
    <!-- nav bar -->
    <nav class="navbar-default navbar-fixed-top">
      <a id="header_nav" class="logo-large" href="<%= root_path %>"></a>
      <ul>
        <li><a href="#">Members</a>
          <ul>
            <li><a href="#">Login</a></li>
          </ul>
        </li>
        <li><a href="#">New Players</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
