<!DOCTYPE html>
<html>
<head>
  <title>Little Rock Bike Polo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  <script
    src="http://maps.googleapis.com/maps/api/js">
  </script>
  <script>
    var myCenter=new google.maps.LatLng(34.73752, -92.26386);

    function initialize()
    {
    var mapProp = {
      center: myCenter,
      zoom:12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      };

    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker = new google.maps.Marker({
      position: myCenter,
      title:'Click to zoom'
      });

    marker.setMap(map);

    // Zoom to 9 when clicking on marker
    google.maps.event.addListener(marker,'click',function() {
      map.setZoom(15);
      map.setCenter(marker.getPosition());
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body class=home-index>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1661153037494301";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <header>
    <!-- nav bar -->
    <nav class="navbar-default navbar-fixed-top">
      <a id="header_nav" class="logo" href="<%= root_path %>"></a>
      <ul>
        <li><a href="#">Members</a>
          <ul>
            <li><a href="#">Login</a></li>
          </ul>
        </li>
        <li><a href="#">New Players</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
